<h1 class="title">Tweets (<%= @tweets_count %>)</h1>

<%= form_tag(root_path, method: 'get', class: 'filters form') do %>

  <div class="field is-grouped">
    <div class="control">
      <input
        type="datetime"
        name="date"
        class="datepicker input"
        placeholder="День"
        value="<%= params[:date] %>"
        required
      >
    </div>

    <div class="control">
      <input
        type="submit"
        class="submit"
        value="Submit"
      >
    </div>
  </div>
<% end %>

<%= paginate @tweets %>

<table class="table is-bordered is-striped is-narrow">
  <thead>
  <tr>
    <th>Retweets</th>
    <th>Text</th>
    <th>Tweeter ID</th>
    <th>Retweet?</th>
    <th>Datetime</th>
    <th>Twitter created</th>
    <th>User</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
  <% @tweets.each do |tweet| %>
    <tr>
      <th><%= tweet.retweets_count %></th>
      <td><%= tweet.text %></td>
      <td><%= tweet.twitter_id %></td>
      <td><%= tweet.is_retweet %></td>
      <td nowrap><%= tweet.datetime.strftime('%Y.%m.%d %H:%M:%S') %></td>
      <td nowrap><%= tweet.twitter_created_at.strftime('%Y.%m.%d %H:%M:%S') %></td>
      <td><%= tweet.user_screen_name %></td>
      <td><%= tweet.id %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th>Retweets</th>
    <th>Text</th>
    <th>Tweeter ID</th>
    <th>Retweet?</th>
    <th>Datetime</th>
    <th>Twitter created</th>
    <th>User</th>
    <th>ID</th>
  </tr>
  </tfoot>
</table>

<%= paginate @tweets %>
