<%= paginate @tweets %>

<table class="pure-table pure-table-bordered">
  <thead>
  <tr>
    <th>ID</th>
    <th>Datetime</th>
    <th>Replays count</th>
    <th>Tweeter ID</th>
    <th>Text hash</th>
    <th>Text</th>
    <th>Created at</th>
  </tr>
  </thead>
  <tbody>
  <% @tweets.each do |tweet| %>
    <tr>
      <td><%= tweet.id %></td>
      <td><%= tweet.datetime %></td>
      <td><%= tweet.replays_count %></td>
      <td><%= tweet.tw_id %></td>
      <td><%= tweet.text_hash %></td>
      <td><%= tweet.text %></td>
      <td><%= tweet.created_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= paginate @tweets %>
