<h1 class="title">Tweet (<%= @retweets_count %> <small>retweets</small>)</h1>

<%= form_tag(tweets_path, method: 'get', class: 'filters form') do %>

  <div class="field is-grouped">
    <div class="control">
      <input
        type="datetime"
        name="date"
        class="datepicker input"
        placeholder="Day"
        value="<%= params[:date] %>"
        required
      >
    </div>

    <div class="control">
      <input type="submit" class="submit" value="Submit">
    </div>
  </div>
<% end %>

<div class="horizontal_info">
  <% Tweet.column_names.each do |field_name| %>
    <%= render 'shared/horizontal_info', label: field_name, value: @tweet.send(field_name) %>
  <% end %>
</div>
<%= paginate @retweets %>

<table class="table is-bordered is-striped is-narrow">
  <thead>
  <tr>
    <th>Tweeter ID</th>
    <th>User</th>
    <th>Collected</th>
    <th>Twitter created</th>
  </tr>
  </thead>
  <tbody>
  <% @retweets.each do |tweet| %>
    <tr>
      <td nowrap="">
        <%= tweet.twitter_id %>
        <a href="http://twitter.com/statuses/<%= tweet.twitter_id %>" target="_blank">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </td>
      <td><%= tweet.user_screen_name %></td>
      <td nowrap><%= tweet.collected_at.strftime('%Y.%m.%d %H:%M:%S') %></td>
      <td nowrap><%= tweet&.twitter_created_at&.strftime('%Y.%m.%d %H:%M:%S') %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th>Tweeter ID</th>
    <th>User</th>
    <th>Collected</th>
    <th>Twitter created</th>
  </tr>
  </tfoot>
</table>

<%= paginate @retweets %>
