<nav class="level">
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Tweets today</p>
      <p class="title"><%= @total_stats[:today][:tweets] %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Retweets today</p>
      <p class="title"><%= @total_stats[:today][:retweets] %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Tweets yesterday</p>
      <p class="title"><%= @total_stats[:yesterday][:tweets] %></p>
    </div>
  </div>
  <div class="level-item has-text-centered">
    <div>
      <p class="heading">Retweets yesterday</p>
      <p class="title"><%= @total_stats[:yesterday][:retweets] %></p>
    </div>
  </div>
</nav>

<hr>
<br>

<% if @fresh_stats.present? %>
  <table class="fresh_stats table is-fullwidth">
    <thead>
      <th><span>Date</span></th>
      <th><span>Tag</span></th>
      <th><span>Tweets</span></th>
      <th><span>Retweets</span></th>
      <th><span>Winner id</span></th>
    </thead>
    <tbody>
    <% @fresh_stats.each do |stat| %>
      <tr>
        <td><span><%= stat.date.strftime("%d/%m") %></span></td>
        <td><span><%= stat.tag %></span></td>
        <td><span><%= stat.total %></span></td>
        <td><span><%= stat.total_retweets %></span></td>
        <td>
          <span>
            <%= link_to(winners_path(date: stat.date)) do %>
              <%= stat&.winner_id|| '--//--'.html_safe %>
            <% end %>
          </span>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<hr>

<%= form_tag(root_path, method: 'get', class: 'filters form') do %>
  <div class="field is-horizontal">
    <div class="field-label is-normal">
      <label class="label">For date</label>
    </div>
    <div class="field-body">
      <div class="field is-grouped">
        <div class="control">
          <input
            type="datetime"
            name="date"
            class="datepicker input"
            placeholder="Day"
            value="<%= params[:date] %>"
            required
          >
        </div>

        <div class="control">
          <input
            type="submit"
            class="submit"
            value="Submit"
          >
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if params[:date].present? %>
  <% if @stats_for_date.present? %>
    <table class="stats_for_date table is-fullwidth">
      <thead>
        <th><span>Tag</span></th>
        <th><span>Tweets</span></th>
        <th><span>Retweets</span></th>
        <th><span>Winner id</span></th>
      </thead>
      <tbody>
      <% @stats_for_date.each do |stat| %>
        <tr>
          <td><span><%= stat.tag %></span></td>
          <td><span><%= stat.total %></span></td>
          <td><span><%= stat.total_retweets %></span></td>
          <td>
          <span>
            <%= link_to(winners_path(date: stat.date)) do %>
              <%= stat&.winner_id|| '--//--'.html_safe %>
            <% end %>
          </span>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  <% else %>
    <p class="title is-2">No data</p>
  <% end %>
<% end %>
