<h1 class="title">Winners (<%= @winners_count %>)</h1>

<%= form_tag(winners_path, method: 'get', class: 'filters form') do %>

  <div class="field is-grouped">
    <div class="control">
      <input
        type="datetime"
        name="date"
        class="datepicker input"
        placeholder="Day"
        value="<%= params[:date] %>"
        required
      >
    </div>

    <div class="control">
      <input
        type="submit"
        class="submit"
        value="Submit"
      >
    </div>
  </div>
<% end %>

<%= paginate @winners %>

<table class="table is-bordered is-striped is-narrow">
  <thead>
  <tr>
    <th>Win date</th>
    <th>Win determined</th>
    <th>Retweets</th>
    <th>Text</th>
    <th>Tweeter ID</th>
    <th>Retweet?</th>
    <th>Collected</th>
    <th>Twitter created</th>
    <th>User</th>
    <th>ID</th>
  </tr>
  </thead>
  <tbody>
  <% @winners.each do |winner| %>
    <tr>
      <td class="nowrap"><b><%= winner.date %></b></td>
      <td><%= winner.created_at.strftime('%Y.%m.%d %H:%M:%S') %></td>
      <td>
        <%= link_to(winner.tweet.retweets_count, tweet_path(winner.tweet.id, date: params[:date])) %>
      </td>
      <td><%= winner.tweet.text %></td>
      <td nowrap="">
        <%= winner.tweet.twitter_id %>
        <a href="http://twitter.com/statuses/<%= winner.tweet.twitter_id %>" target="_blank">
          <i class="fa fa-external-link" aria-hidden="true"></i>
        </a>
      </td>
      <td><%= icon_boolean(winner.tweet.is_retweet) %></td>
      <td nowrap><%= winner.tweet.collected_at.strftime('%Y.%m.%d %H:%M:%S') %></td>
      <td nowrap><%= winner.tweet.twitter_created_at.strftime('%Y.%m.%d %H:%M:%S') %></td>
      <td><%= winner.tweet.user_screen_name %></td>
      <td><%= winner.tweet.id %></td>
    </tr>
  <% end %>
  </tbody>
  <tfoot>
  <tr>
    <th>Win date</th>
    <th>Win determined</th>
    <th>Retweets</th>
    <th>Text</th>
    <th>Tweeter ID</th>
    <th>Retweet?</th>
    <th>Collected</th>
    <th>Twitter created</th>
    <th>User</th>
    <th>ID</th>
  </tr>
  </tfoot>
</table>

<%= paginate @winners %>
