<nav class="navbar is-transparent">
  <div class="navbar-brand">
    <a class="navbar-item" href="<%= root_path %>">
      <img src="http://bulma.io/images/bulma-logo.png" alt="Bulma: a modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <div class="navbar-burger burger" data-target="navMenuTransparentExample">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navMenuTransparentExample" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item " href="<%= winners_path %>">
        Winners
      </a>
      <a class="navbar-item " href="<%= tweets_path %>">
        Tweets
      </a>
      <a class="navbar-item " href="<%= sidekiq_web_path %>" target="_blank">
        Sidekiq
      </a>
    </div>

    <div class="navbar-end">
      <span class="navbar-item utc_datetime">
        <a href="https://time.is/UTC" id="time_is_link" rel="nofollow">UTC:</a>
        <span id="UTC_za00"></span>
      </span>
      <div class="navbar-item">
        <p class="control">
          <a class="button is-primary" data-method="delete" href="<%= sign_out_path %>">
            <span class="icon">
              <i class="fa fa-sign-out"></i>
            </span>
            <span>Exit</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</nav>
